<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talayar.app"
    android:versionCode="6"
    android:versionName="4.1">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="27"/>
    <!-- اینترنت فقط برای دریافت مستقیم قیمت‌های بازار از API عمومی (بدون سرور میانی).
         بدون اینترنت هم همهٔ امکانات برنامه کاملاً آفلاین کار می‌کنند. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:allowBackup="true">

        <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RateActivity" android:exported="false"/>
        <activity android:name=".ItemsActivity" android:exported="false"/>
        <activity android:name=".ItemEditActivity" android:exported="false"/>
        <activity android:name=".InvoicesActivity" android:exported="false"/>
        <activity android:name=".InvoiceNewActivity" android:exported="false"/>
        <activity android:name=".InvoiceViewActivity" android:exported="false"/>
        <activity android:name=".CustomersActivity" android:exported="false"/>
        <activity android:name=".CustomerViewActivity" android:exported="false"/>
        <activity android:name=".CashActivity" android:exported="false"/>
        <activity android:name=".BuyActivity" android:exported="false"/>
        <activity android:name=".GoldActivity" android:exported="false"/>
        <activity android:name=".ReportsActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".PricesActivity" android:exported="false"/>
        <activity android:name=".DefsActivity" android:exported="false"/>
        <activity android:name=".AssetsActivity" android:exported="false"/>
        <activity android:name=".GuideActivity" android:exported="false"/>
        <activity android:name=".DocNewActivity" android:exported="false"/>
        <activity android:name=".DocsActivity" android:exported="false"/>
        <activity android:name=".ChecksActivity" android:exported="false"/>
        <activity android:name=".EtiketActivity" android:exported="false"/>
        <activity android:name=".EtiketViewActivity" android:exported="false"/>

        <provider
            android:name=".ShareProvider"
            android:authorities="com.talayar.app.share"
            android:exported="false"
            android:grantUriPermissions="true"/>
    </application>
</manifest>
